.breadcrumb-custom {
	background-image: url('../../../img/corporates/credit/credit/background.jpg');
	background-repeat: no-repeat;
	background-size: cover
}

.breadcrumb-custom {
	color: white
}

.breadcrumb-custom a {
	color: #F5F5F5
}

.credit .card-link {
	text-decoration: none;
	text-align: center;
	color: #262626;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
	padding: 0 32px;
	margin: 0;
	height: 135px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	transition: all .3s ease-in-out;
}

.credit .card-link:hover {
	background-color: #073E75;
	color: white;
}

/* Credit calculator start */
.credit-calculator {
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
	padding: 24px;
}

.credit-calculator h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 24px;
}

.credit-calculator .header, .credit-calculator .footer {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
}

.credit-calculator .holder {
	background-color: #FFC409;
	color: white;
	font-size: 14px;
	letter-spacing: .4px;
	word-spacing: nowrap;
	padding: 8px 16px;
}

.credit-calculator .header h5 {
	font-size: 16px;
}

.credit-calculator .body {
	width: 100%;
	position: relative;
	margin-top: 6px; 
}

.credit-calculator .range {
	-webkit-appearance: none; 
	appearance: none;
	width: 100%;
	height: 6px; 
	border-radius: 3px;
	background: #E6EBF1; 
	outline: none; 
}

.credit-calculator .ranged-area {
	position: absolute;
	top: 12px;
	left: 0;
	height: 6px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #073E75;
}

.credit-calculator .range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 24px; 
  height: 24px; 
  background: #073E75;
  cursor: pointer; 
  border-radius: 50%;
}

.credit-calculator .range::-moz-range-thumb {
  width: 24px;
  height: 24px; 
  background: #073E75; 
  cursor: pointer;
  border-radius: 50%;
}

.credit-calculator .footer {
	padding-top: 6px;
}

.credit-calculator .footer p {
	font-size: 9px;
	font-weight: 500;
	word-spacing: nowrap;
	color: #262626;
}

.credit-calculator .result {
	background-color: #073E75;
	padding: 48px 36px;
}

.credit-calculator .result .label {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: .15px;
	color: rgba(255, 255, 255, .6);
	text-align: center;
	margin-bottom: 6px;
}

.credit-calculator .result .output {
	font-size: 18px;
	color: white;
	letter-spacing: .15px;
	text-align: center;
	padding-bottom: 24px;
}

.credit-calculator .result button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 16px 18px;
	background-color: white;
	word-wrap: nowrap;
	color: #073E75;
	font-size: 14px;
	font-weight: 500;
}

.credit-calculator #amount-output, .credit-calculator #month-output, .credit-calculator #interest-output {
	border: none;
    background: transparent;
    color: white;
    outline: none;
}

.credit-calculator #amount-output::selection , .credit-calculator #month-output::selection , .credit-calculator #interest-output::selection  {
	background: #FFC409;
}

.credit-calculator #amount-output {
	width: 98px;
}

.credit-calculator #month-output, .credit-calculator #interest-output {
	width: 16px;
}
/* Credit calculator end */