.breadcrumb-custom {
	background-image: url('../../img/corporates/export-import/background.jpg');
	background-repeat: no-repeat;
	background-size: cover
}

.breadcrumb-custom {
	color: white
}

.breadcrumb-custom a {
	color: #F5F5F5
}

.export-import {
	margin-top: 48px
}

.export-import .item {
	background-color: white;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
	padding: 18px 24px;
	border-left: 3px solid #FFC409;
	margin-bottom: 16px;
	width: 100%
}

.export-import .item p {
	margin: 0
}

.global-modal-window .global-modal-content {
	max-width: 1200px
}

.modal-content-inner .item {
	background-color: white;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
	padding: 18px 24px;
	border-left: 3px solid #FFC409;
	margin-left: 0;
	margin-bottom: 16px;
	width: 100%
}

.modal-content-inner .item .main {
	font: 500 calc(14rem / 16) 'Roboto',
	sans-serif;
	color: #073E75
}

.modal-content-inner .item p {
	margin: 0
}
.modal-mail {
	text-decoration: none;
	color: #073E75;
}