.breadcrumb-custom {
	background-image: url('../../../img/individuals/exchange-office/conversion-operation/background.jpg');
	background-repeat: no-repeat;
	background-size: cover
}

.breadcrumb-custom {
	color: white
}

.breadcrumb-custom a {
	color: #F5F5F5
}

.app-link {
	width: 120px;
}
