.breadcrumb-custom {
	background-image: url('../../img/press-center/copy-right/background.jpg');
	background-repeat: no-repeat;
	background-size: cover
}

.breadcrumb-custom {
	color: white
}

.breadcrumb-custom a {
	color: #F5F5F5; 
}