.breadcrumb-custom {
    background-image: url('../../img/press-center/youth-union/background.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.breadcrumb-custom {
    color: white
}

.breadcrumb-custom a {
    color: #F5F5F5
}

.youth-union {
    margin-top: 48px
}

.youth-union .first-parent h2 {
    margin: 0 0 24px
}

.youth-union .first-parent p {
    font: 400 calc(14rem / 16)/calc(20rem / 16) 'Roboto',
    sans-serif;
    color: #434343;
    margin: 0 0 24px
}

.youth-union .first-parent .box {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .16)
}

.youth-union .first-parent .box img {
    width: 100%;
    height: auto
}
